services:
  postgres-primary:
    image: postgres:18
    container_name: postgres-primary
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: mydb
      POSTGRES_INITDB_WALDIR: /var/lib/postgresql/wal
    volumes:
      - primary-data:/var/lib/postgresql
      - ./datas/init-primary.sql:/docker-entrypoint-initdb.d/init.sql
      - ./datas/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
    command: >
      postgres -c wal_level=replica
               -c max_wal_senders=10
               -c wal_keep_size=64
               -c listen_addresses='*'
               -c hot_standby=on
               -c hba_file=/var/lib/postgresql/data/pg_hba.conf
    ports:
      - "5432:5432"
    networks:
      - db_network

  postgres-replica1:
    image: postgres:18
    container_name: postgres-replica1
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: secret
    depends_on:
      - postgres-primary
    volumes:
      - replica1-data:/var/lib/postgresql
    command: >
      bash -c "
      echo '*:*:*:repl_user:secret' > /var/lib/postgresql/.pgpass &&
      chmod 600 /var/lib/postgresql/.pgpass &&
      chown postgres:postgres /var/lib/postgresql/.pgpass &&
      su postgres -c '
        until pg_basebackup -h postgres-primary -D /var/lib/postgresql/18/docker -U repl_user -Fp -Xs -P -R;
        do
          echo \"Waiting for primary...\";
          sleep 2;
        done
        exec postgres -c hot_standby=on
      '
      "
    ports:
      - "5433:5432"
    networks:
      - db_network

  postgres-replica2:
    image: postgres:18
    container_name: postgres-replica2
    environment:
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: secret
    depends_on:
      - postgres-primary
    volumes:
      - replica2-data:/var/lib/postgresql
    command: >
      bash -c "
      echo '*:*:*:repl_user:secret' > /var/lib/postgresql/.pgpass &&
      chmod 600 /var/lib/postgresql/.pgpass &&
      chown postgres:postgres /var/lib/postgresql/.pgpass &&
      su postgres -c '
        until pg_basebackup -h postgres-primary -D /var/lib/postgresql/18/docker -U repl_user -Fp -Xs -P -R;
        do
          echo \"Waiting for primary...\";
          sleep 2;
        done
        exec postgres -c hot_standby=on
      '
      "
    ports:
      - "5434:5432"
    networks:
      - db_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-boot-app
    depends_on:
      - postgres-primary
      - postgres-replica1
      - postgres-replica2
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    networks:
      - db_network

volumes:
  primary-data:
  replica1-data:
  replica2-data:

networks:
  db_network:
    driver: bridge